# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.bcf
*.blg
*.run.xml
*.nav
*.snm
*.vrb

# Build directories
_build/
build/
out/

# PDF outputs
*.pdf

# Editor / OS
.vscode/
.DS_Store
